header, footer {
    padding: 0.5em; 
    color: white;
    background-color: black;
}
h1.header {
    padding: 0;
    margin: 0;
    color: rgb(70, 0, 200)
}
aside {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}
section {
    margin-left: 190px;
    border-left: 1px solid red;
    padding: 1em;
}
ul {
    float:left;
    width:100%; 
    padding:0;
    margin:0;
    list-style-type:none;
}        
a {
    float:left;
    width:6em; 
    text-decoration:none;
    color:white;
    background-color:rgb(37, 0, 200);
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.active{
    border-bottom:5px solid blue;
}
a:hover { background-color:#ff3300} 
li { 
    display:inline; 
} 