header, footer {
    padding: 0.5em; 
    color: white;
    background-color: black;
}
h1.header {
    padding: 0;
    margin: 0;
    color: rgb(70, 0, 200)
}
aside {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}
section {
    margin-left: 190px;
    border-left: 1px solid red;
    padding: 1em;
}
ul {
    float:left;
    width:100%; 
    padding:0;
    margin:0;
    list-style-type:none;
}        
a {
    float:left;
    width:6em; 
    text-decoration:none;
    color:white;
    background-color:rgb(37, 0, 200);
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.active{
    border-bottom:5px solid blue;
}
a:hover { background-color:#ff3300} 
li { 
    display:inline; 
} 
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

th:nth-child(1), td:nth-child(1) { width: 15%; } /* Név oszlop */
th:nth-child(2), td:nth-child(2) { width: 10%; } /* Kor oszlop */
th:nth-child(3), td:nth-child(3) { width: 15%; } /* Város oszlop */
th:nth-child(4), td:nth-child(4) { width: 20%; } /* Műveletek oszlop */

th:hover 
{
    background-color: #45a049;
}
th span {
    font-size: 16px;
    margin-left: 5px;
    display: inline-block;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: darkred;
}

input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.no-sort {
    pointer-events: none; /* Kattinthatatlanná teszi */
    background-color: #dddddd; /* Szürkés háttér, hogy ne tűnjön interaktívnak */
    cursor: default; /* Alapértelmezett egérmutató, ne legyen kattintásjelző */
}
